<html lang="en-us">
<head>
<title>Create View</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous">
</head>
<body>
    <div class="container" stype="margin-top:200px">
    <p></p>
        <a href="{% url 'driver_home' pk=pk %}"><button type="button" class="btn btn-link">Back</button></a>
        <h2 style="text-align:center">Driver Registration</h2>
        <form method="POST" action="{% url 'driver_save' pk=pk%}">
        {% csrf_token %}

        <div class="form-group">
            <label>License Plate Number</label>
            <input type="text" class="form-control" id="license_number" name="license_number" placeholder="No more than 15 characters">
        </div>
         <div class="form-group">
            <label>Vehicle Type</label>
             <select class="form-control", id="vehicle_type" name = "vehicle_type">
                 <option value="FULLSIZE">FULLSIZE</option>
                 <option value="SUV">SUV</option>
                 <option value="MPV">MPV</option>
                 <option value="VAN">VAN</option>
             </select>
        </div>
            <div class="form-group">
            <label>Max Passenger</label>
            <select class="form-control" id="max_passengers" name="max_passengers">
                <option value="4">4(FULL SIZE)</option>
                <option value="6">6(SUV)</option>
                <option value="8">8(MPV)</option>
                <option value="15">15(VAN)</option>
                </select>
            </div>

        <div class="form-group">
            <label>Special Vehicle Information</label>
            <textarea class="form-control" id="special_info" name="special_info"></textarea>
        </div>
            <button type="submit" class="btn btn-primary">Submit!</button>

        </form>


        <div>
            {% for message in messages %}
            <h4>{{ message }}</h4>
            {% endfor %}
        </div>
    </div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384 JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
